---
layout: base
---

{% include "hero.njk" %}

{% include "subnav.njk" %}

<h2 class="my-16 font-bold text-3xl text-center">{{ headline }}</h2>

<p class="w-3/5 mb-0 text-lg text-center mx-auto">{{ intro }}</p>

{% include "about-content.njk" %}