<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel='manifest' href='/assets/manifest.json'>

    <link rel="icon" type="image/svg+xml" href="/assets/favicon-96x96.png" width="96" height="96" />
    <link rel="stylesheet" href="/styles/main.css">
    
    <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.3.0/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        
    {% seo "" %}
</head>
<body class="bg-gray-DEFAULT">
    {% include "nav.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script>
    if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script>

    <script defer src="https://unpkg.com/@glidejs/glide@3.3.0/dist/glide.min.js"></scriptdddddddddddddddddddddddddddddddddddddddddddddddd>

</body>
</html>