---
layout: base
---


{% include "hero.njk" %}

{% include "notification.njk" %}

<div class="md:px-24 mx-auto my-8">

    <section class="mb-8">
        <h2 class="text-center md:text-left font-bold text-2xl text-brand my-8 md:mt-0 "> Latest Update </h2>

        {% set open = true %}
        {% set items = [events.news | sortByDate | first] %}
        {% include "card-feature.njk" %}
    </section>

    <section class="grid md:grid-cols-12">
        <div class="md:col-span-6">
            <h2 class="text-center md:text-left text-xl font-bold text-brand my-4 md:mt-0">
                <i class="fas fa-map-signs mr-2"></i>
                News Archive
            </h2>

            {% set items = events.news | sortByDate | removeFirst %}
            {% include "card-sm.njk" %}

        </div>

        <div class="md:col-span-5 md:col-start-8">
            <h2 class="text-center md:text-left text-xl font-bold text-brand my-8 md:mt-0">
                <i class="fas fa-bullhorn mr-2"></i>
                Upcoming Events
            </h2>

            {% set items = events.events | filterFuture | sortByDate %}
            {% include "card-sm-events-upcoming.njk" %}


            <h2 class="text-center md:text-left text-xl font-bold text-brand mt-8 my-4 md:mt-0">
                Events Archive
            </h2>

            {% set items = events.events | filterPast | sortByDate %}
            {% include "card-sm-events.njk" %}
        </div>
    </section>

</div>