---
layout: base
---

{% include "hero.njk" %}

{% include "notification.njk" %}

<div class="container mx-auto my-20 mt-8">
    <div class="flex divide-brand divide-x-2 text-sm mb-8 justify-center md:justify-start">
        <button aria-label="Show all events" class="event--filter px-2 py-0 my-0 font-bold hover:text-highlight" data-filter="all">All</button>
        <button aria-label="Show past events" class="event--filter px-2 py-0 my-0 hover:text-highlight" data-filter="past">Past</button>
        <button aria-label="Show future events" class="event--filter px-2 py-0 my-0 hover:text-highlight" data-filter="future">Future</button>
    </div>

    <div id="event--list">
        {%- for event in events.events | sortByDate -%}
        <div class="{{ 'sizer' if loop.first }} event--item text-brand" id="{{ event.id }}" data-event="{{ event.date | getFutureOrPast }}">

            <div class="grid grid-cols-8 col-span-2 font-bold my-4 py-4 px-2 border-b-2 border-brand">
                
                <p class="md:text-lg text-small col-span-8 md:col-span-2 lg:col-span-1">{{ event.date | date("MMM Do 'YY") }}</p>
                
                <a href="#" data-target="content-{{ event.id }}" data-icon="icon-{{ event.id }}" class="col-span-7 md:col-span-5 lg:col-span-6 event--item-toggle">
                    <h2 class="text-lg  hover:text-highlight">{{ event.name }}</h2>
                </a>
                
                <div class="text-lg md:px-0 px-4 text-right">
                    <button aria-label="Show event details" data-target="content-{{ event.id }}" data-icon="icon-{{ event.id }}" class="hover:text-highlight event--item-toggle">
                        <i class="fas fa-plus" id="icon-{{ event.id }}"></i>
                    </button>
                </div>
            </div>
            
            <div class="event--item--content grid grid-cols md:grid-cols-2" id="content-{{ event.id }}">
                <div class="bg-white p-8 md:text-center border border-gray-light shadow-sm">
                    <p><i class="fas fa-map-marker mr-2"></i>{{ event.location }}</p>
                    <p class="mb-4"><i class="far fa-calendar-alt mr-2"></i>{{ event.date | date('L') }} : {{ event.time }}</p>

                    {%- if event.comment %}
                    <p class="font-semibold">{{ event.comment | safe }}</p>
                    {%- endif -%}

                    <div class="map mt-8">
                        <iframe scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" 
                                src="https://maps.google.com/maps?height=236&amp;hl=en&amp;q={{ event.gmaps | url }}&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" 
                                class="w-full" height="236" frameborder="0"></iframe>
                    </div>
                </div>

                <div class="relative shadow-sm order-first md:order-last">
                    {%- if event.overlay -%}
                        <div class="absolute w-full h-full bg-black bg-opacity-50 z-50 text-white md:text-2xl flex flex-col justify-center items-center font-bold">
                            {%- for paragraph in event.overlay -%}
                                <h3 class="mb-2 px-24 text-center">{{ paragraph | safe }}</h3>
                            {%- endfor -%}
                        </div>
                    {%- endif -%}

                    {% img event.image.url, event.image.alt, "(min-width: 768px) 50vw, 100vw", "h-full object-cover", "lazy" %}
              
                </div>
            </div>

        </div>
        {%- endfor -%}
    </div>
</div>


{% set js %}
    {% include "../javascript/events.js" %}
{% endset %}

<script>
    {{ js | jsmin | safe }}
</script>
