---
layout: base
---

{% include "hero.njk" %}
{% include "trust-strip.njk" %}

<div class="flex flex-col">
    <div class="order-2 md:order-1">{% include "featured-piece.njk" %}</div>
    <div class="order-3 md:order-2">{% include "collections-teaser.njk" %}</div>
    <div class="order-1 md:order-3">{% include "home-products.njk" %}</div>
</div>

{% include "home-events.njk" %}
{% include "story-teaser.njk" %}
