.glide--events .glide__bullet--active {
    font-weight: bold;
}

.glide--showcase--images, .glide--features {
    .glide__arrows i {
        text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }
}

.glide--showcase--content, .glide--events {

    .glide__slides {
        transform: initial !important; 
    }
    
    .glide__slide {
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        order: 2;
        opacity: 0;
        transition: opacity 400ms ease-in-out;
    

        &.glide__slide--active {
            position: relative;
            order: 1;
            opacity: 1;
            z-index: 1;
        }
    }
}

#mobile--menu {
    transition: top, .15s ease-in-out;
    top: -1500px;
}

#mobile--menu.active {
    top: 0;
    z-index: 40;
}

a, button {
    transition: background-color, border, color, 0.15s ease-in-out;
}

#nav {
    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;

        background: rgb(5,2,55);
        background: linear-gradient(45deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
    }

    &.scrolling {
        &::before {
            opacity: 1;
        }
    }
}

.hero h1 {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    span {
        text-shadow: none;
    }
}

.hero--img {
    @media screen and (max-width: theme('screens.sm')) {
        height: 350px;
        object-fit: cover;
    }
}

.event--comment {
    a {
        @apply font-semibold hover:text-highlight;
    }
}

.event--item--content {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);

    &.full {
        max-height: 1000px;
        transition: all 1s ease-in-out;
    }
}

.general {

    ul {
        @apply list-disc list-inside ml-4;
    }

    ol {
        @apply list-decimal list-inside ml-4;
    }

    ul, ol, li {
        @apply mb-4 text-base text-brand;
    }

    h1, h2, h3, p {
        @apply mb-4 text-brand;
    }

    h1 {
        @apply text-2xl font-bold;
    }

    h2 {
        @apply text-xl font-semibold;
    }

    h3 {
        @apply text-lg font-semibold;
    }

    p {
        @apply text-base;
    }

    a:hover {
        @apply text-highlight;
    }
}