{% set order = cycler("order-first", "order-last") %}

{%- for section in sections -%}
<div class="grid grid-cols-12 place-content-center w-100 md:my-24">

    <div class="col-span-12 md:col-span-6 md:shadow-md md:{{ order.next() }} order-first">
        {% img  section.image.url, section.image.alt, "(min-width: 768px) 50vw, 100vw", "h-full w-full object-cover" %}
    </div>

    <div class="col-span-12 md:col-span-6 bg-white border-b border-t border-gray-light 
                flex flex-col justify-center 
                md:py-20 md:px-20 p-4">

        {%- for paragraph in section.paragraphs %}        
            <p class="mb-4">{{ paragraph | safe }}</p>
        {%- endfor %}

    </div>
</div>
{%- endfor -%}