
<h2 class="text-2xl text-brand font-bold my-12 mb-8">
    {{ contactform.title }}
</h2>

<p class="mb-4 text-xs text-gray-darker">{{ contactform.info }}</p>

<form class="text-brand mb-8" netlify-honeypot="bot-field" data-netlify="true" name="contact" method="POST" data-netlify-recaptcha="true">
    <p class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
   </p>

   <label class="hidden" for="name">Name</label>
   <input id="firstname" name="name" type="text" placeholder="Name"
          class="w-full text-sm p-2 border border-gray-darker mb-4 bg-gray-lighter focus:border-brand focus:bg-white"
   />
    
    <label class="hidden" for="email">Email</label>
    <input id="email" name="email" type="text" placeholder="Email *" required
           class="w-full text-sm p-2 border border-gray-darker mb-4 bg-gray-lighter focus:border-brand focus:bg-white"
    />


    <label class="hidden" for="phone">Phone</label>
    <input id="phone" name="phone" type="text" placeholder="Phone"
            class="w-full text-sm p-2 border border-gray-darker mb-4 bg-gray-lighter focus:border-brand focus:bg-white"
    />
    
    <label class="hidden" for="message">Message</label>
    <textarea id="message" name="message" placeholder="Whats on your mind? *" required
              class="md:h-48 w-full text-sm p-2 border border-gray-darker mb-4 bg-gray-lighter focus:border-brand focus:bg-white"
    ></textarea>
        
    <div data-netlify-recaptcha="true" class="mb-4"></div>

    <label class="hidden" for="send">Submit</label>
    <button id="send" type="submit" 
            class="bg-highlight text-brand px-8 py-2 text-sm hover:bg-brand hover:text-highlight"
    >{{ contactform.submit | upper }}</button>
    

</form>


