<footer class="bg-gray-light text-gray-dark">
    <div class="container mx-auto py-24">
        <div class="grid md:grid-cols-3 md:text-left text-center font-light">
            <div class="md:grid-cols-1 grid-cols-3">
                <h4 class="font-bold mb-4">{{ global.contact.name | safe }}</h4>
                
                <p class="mb-4">{{global.contact.address | nl2br | safe }}</p>
                
                <p class="mb-4">
                    {{ global.contact.text | safe
                        | replace("<mail>", "<a class=\"hover:underline font-semibold\" href=\"mailto:" + global.contact.email + "\">") 
                        | replace("<phone>", "<a class=\"hover:underline font-semibold\" href=\"tel:" + global.contact.phone + "\">") 
                        | replace("</mail>", "</a>") 
                        | replace("</phone>", "</a>" ) 
                    }}
                </p>
            </div>

            <div class="md:grid-cols-1 grid-cols-3 mt-8 md:mt-0">
                <h4 class="font-bold mb-4">{{ global.socialmedia.title }} </h4>

                <ul class="flex flex-row md:justify-start justify-center">
                    {%- for name, entry in global.socialmedia.services %}        
                    <li>
                        <a class="mr-4" href="{{ entry.url | url }}">
                            <i class="fab {{ entry.icon }}"></i>
                        </a>
                    </li>
                {%- endfor -%}
                </ul>
            </div>

            <div class="md:grid-cols-1 grid-cols-3 mt-8 md:mt-0">
                <h4 class="font-bold mb-4">{{ global.newsletter.title }}</h4>

                <div class="flex justify-center md:justify-start">
                
                    <input type="text" id="email" class="w-2/3 px-3 py-1 font-light text-sm focus:bg-gray-lighter bg-gray-DEFAULT border border-gray-dark" placeholder="you@email.com">
                    
                    <button class="align-middle px-3 py-1 bg-white rounded-r-md border hover:bg-white border-l-0 bg-gray-lighter border border-gray-dark">
                        <i class="fas fa-envelope-open-text"></i>
                    </button>

                </div>
        </div>
    </div>
</footer>