<footer class="bg-gray-light text-gray-darker">
    <div class="container mx-auto py-8 md:py-24 px-12">
        
        <div class="grid md:grid-cols-11 md:text-left text-center font-light gap-x-12">
            
            <div class="col-span-3 md:grid-cols grid-cols-3">
                <h4 class="font-bold mb-4">{{ global.contact.name | safe }}</h4>
                
                <p class="mb-4">{{global.contact.address | nl2br | safe }}</p>
                
                <p class="mb-4">
                    {{ global.contact.text | safe
                        | replace("<mail>", "<a class=\"hover:text-brand font-semibold\" href=\"mailto:" + global.contact.email + "\">") 
                        | replace("<phone>", "<a class=\"hover:text-brand font-semibold\" href=\"tel:" + global.contact.phone + "\">") 
                        | replace("</mail>", "</a>") 
                        | replace("</phone>", "</a>" ) 
                    }}
                </p>
            </div>

            <div class="col-span-3 md:col-span-2 md:grid-cols grid-cols-3 mt-8 md:mt-0">
                <h4 class="font-bold mb-4">{{ global.socialmedia.title }} </h4>

                <ul class="flex flex-row md:justify-start justify-center">
                    {%- for name, entry in global.socialmedia.services %}        
                    <li class="{{ '' if loop.last else 'mr-4' }}">
                        <a target="_blank" class="hover:text-brand" href="{{ entry.url | url }}">
                            <i class="fab {{ entry.icon }}"></i>
                        </a>
                    </li>
                {%- endfor -%}
                </ul>
            </div>

            <div class="col-span-3 md:grid-cols grid-cols-3 mt-8 md:mt-0">
                <h4 class="font-bold mb-4">{{ global.newsletter.title }}</h4>

                <form class="flex justify-center md:justify-start" data-netlify="true" name="newsletter" method="POST" netlify-honeypot="bot-field">
                    <p class="hidden">
                        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                    </p>
                    
                    <label class="hidden" for="newsletter_email">Email</label>
                    <input required type="text" id="newsletter_email" name="newsletter_email" class="w-3/5 md:w-full px-3 py-1 font-light text-sm focus:bg-gray-lighter bg-gray-default border border-gray-darker" placeholder="your@email.com">
                    
                    <label class="hidden" for="signup">Sign Up</label>
                    <button aria-label="Sign up" id="signup" type="submit" class="align-middle px-3 py-1 rounded-r-md border border-l-0 bg-white hover:bg-gray-dark border border-gray-darker">
                        <i class="fas fa-envelope-open-text"></i>
                    </button>
                </form>
            </div>

            <div class="col-span-3 md:grid-cols grid-cols-3 mt-8 md:mt-0">
                <h4 class="font-bold mb-4">Links</h4>

                <ul>
                    {%- for entry in collections.footer -%}
                    <li>
                        <a class="hover:text-brand text-sm" href="{{ entry.url | url }}">
                            <i class="fas fa-angle-right"></i>
                            {{ entry.data.title }}
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>

        </div>
    </div>
</footer>