
<h2 class="my-8 md:my-8 mx-8 font-bold text-xl md:text-2xl text-center">{{ gallery.title }}</h2>

{%- for t in gallery.texts -%}
    <p class="md:w-3/5 w-5/6 mb-8 md:mb-0 text-sm md:text-md text-center mx-auto">{{ t }}</p>
{%- endfor -%}

<div class="grid grid-cols-12 place-content-center w-100 md:my-24">
    
    <div class="relative col-span-12 md:col-span-6 lg:col-span-7 md:shadow-md">
        <div class="glide--showcase--images relative h-full w-full">
            <div data-glide-el="track" class="glide__track h-full w-full">

                <ul class="glide__slides h-full w-full">
                    {%- for entry in showcase.gallery -%}
                        <li class="glide__slide">
                            <img class="h-full w-full object-cover" src="{{ entry.image.url | url }}" alt="{{ entry.image.alt }}" />
                        </li>
                    {%- endfor -%}
                </ul>

            </div>

            <div data-glide-el="controls" class="glide__arrows absolute w-full h-full flex top-0 justify-between items-center text-gray-lighter px-8">
                <button class="glide__arrow glide__arrow--left hover:text-gray-light" data-glide-dir="<"><i class="fas fa-chevron-left fa-2x"></i></button>
                <button class="glide__arrow glide__arrow--right hover:text-gray-light" data-glide-dir=">"><i class="fas fa-chevron-right fa-2x"></i></button>
            </div>
        </div>
    </div>

    <div class="col-span-12 md:col-span-6 lg:col-span-5 bg-white border-b border-t border-gray-light flex flex-col justify-center md:px-16 px-4 md:my-12 md:py-16 py-4">
        
        <div class="glide--showcase--content">
            <div data-glide-el="track" class="glide__track">

                <ul class="glide__slides">
                    {%- for entry in showcase.gallery -%}
                        <li class="glide__slide flex justify-center flex-col items-{{ entry.style }} text-{{ entry.style }}">
                            
                            <h3 class="text-brand text-xl lg:text-2xl font-bold">{{ entry.title }}</h3>
                            <span class="block text-highlight text-xl lg:text-2xl mb-4">...</span>
                            <p class="text-brand text-sm lg:text-md mb-4">{{ entry.text | nl2br | safe }}</p>
                            
                            {%- if entry.cta -%}
                                <a href="{{ entry.cta.url | url }}" class="my-4 w-auto py-2 px-8 border text-xs lg:text-sm font-medium rounded-md text-brand hover:text-white border-brand hover:bg-brand">
                                    {{ entry.cta.label | upper }}
                                </a>
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>
