<button aria-label="Load more" x-data="{}"
    class="mt-8 px-6 py-2 rounded-md border border-brand text-brand hover:bg-brand hover:text-gray-lighter text-xs"
    x-on:click="$dispatch('increment.window')">
    LOAD MORE
</button>