<div id="nav" class="z-30 fixed nav w-screen h-16 md:h-20 md:px-24">
    
    <nav role="navigation" aria-label="Main" id="desktop--menu" class="relative z-50 h-full w-full items-center">
        <ul class="main-nav w-full h-full justify-around md:justify-start items-center md:flex hidden">
        {% set navPages = collections.all | eleventyNavigation %}        
        {%- for entry in navPages %}        
            <li class="md:mr-6">
                <a class="border-b-2 border-transparent hover:border-brand text-brand {{ 'font-bold' if entry.url == page.url }} " href="{{ entry.url | url }}">{{ entry.title | upper }} </a>
            </li>
        {%- endfor %}
            
            <li class="md:mr-6">
                <a target="_blank" href="{{ global.socialmedia.services.instagram.url | url }}" class="text-brand hover:text-highlight">
                    <i class="fab fa-instagram"></i>                
                </a>
            </li>

            <li class="md:mr-6">
                <a target="_blank" href="{{ global.shop.url | url }}" class="text-brand hover:text-highlight">
                    <i class="fas fa-shopping-bag"></i>                
                </a>
            </li>

        </ul>

        <ul class="w-full justify-between md:hidden flex p-4 bg-brand">
            <li>
                <ul class="flex justify-start">
                    <li class="pr-6">
                        <a target="_blank" href="{{ global.socialmedia.services.instagram.url | url }}" class="text-gray-light hover:text-highlight">
                            <i class="fab fa-2x fa-instagram"></i>                
                        </a>
                    </li>

                    <li class="pr-6">
                        <a target="_blank" href="{{ global.shop.url | url }}" class="text-highlight hover:text-white">
                            <i class="fas fa-2x fa-shopping-bag"></i>                
                        </a>
                    </li>
                </ul>

                <li class="justify-end">
                    <a id="mobile--btn" href="#" class="text-gray-light hover:text-highlight">
                        <i class="fa-2x fas fa-bars"></i>                
                    </a>
                </li>
        </ul>
    </nav>
    
    <nav role="navigation" aria-label="Main" id="mobile--menu" class="flex absolute md:hidden bg-brand w-full h-screen justify-center items-center">
        <ul  class="flex flex-col justify-center items-center text-center py-4">
            {% set navPages = collections.all | eleventyNavigation %}        
            {%- for entry in navPages %}        
                <li class="py-6">
                    <a href="{{ entry.url | url }}" class="text-xl py-6 px-8 {{ "border-b border-highlight" if loop.last != true }} hover: text-highlight active:text-highlight text-gray-light {{ 'font-bold' if entry.url == page.url }} " href="{{ entry.url | url }}">{{ entry.title | upper }} </a>
                </li>
            {%- endfor %}
        </ul>
    </nav>
</div>


{% set js %}
    {% include "../javascript/nav.js" %}
{% endset %}

<script>
    {{ js | jsmin | safe }}
</script>
