{# Carved-flower divider, centred on a hairline. Used once, before the
   newsletter (see home-layout.njk). #}
<div class="ca-divider"><svg width="42" height="42" viewBox="-23 -23 46 46" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><g fill="none" stroke="#b8862f" stroke-linecap="round" stroke-linejoin="round"><g stroke-width="1.5"><path d="M0,0 C4,-7 4,-15 0,-20 C-4,-15 -4,-7 0,0"/><path d="M0,0 C4,-7 4,-15 0,-20 C-4,-15 -4,-7 0,0" transform="rotate(90)"/><path d="M0,0 C4,-7 4,-15 0,-20 C-4,-15 -4,-7 0,0" transform="rotate(180)"/><path d="M0,0 C4,-7 4,-15 0,-20 C-4,-15 -4,-7 0,0" transform="rotate(270)"/></g><g stroke-width="1.3"><path d="M0,-6 C3,-9 3,-13 0,-16 C-3,-13 -3,-9 0,-6" transform="rotate(45)"/><path d="M0,-6 C3,-9 3,-13 0,-16 C-3,-13 -3,-9 0,-6" transform="rotate(135)"/><path d="M0,-6 C3,-9 3,-13 0,-16 C-3,-13 -3,-9 0,-6" transform="rotate(225)"/><path d="M0,-6 C3,-9 3,-13 0,-16 C-3,-13 -3,-9 0,-6" transform="rotate(315)"/></g><circle r="2.2" stroke-width="1.2"/></g></svg></div>
